@page "/ItemCatalog"
@using Models

<h1>Catalog</h1>

<InputText @bind-Value="@hiText" placeholder="Search"></InputText>

<div class="container p-2">
    <div class="row">
        <div class="col-1">
            Category
        </div>
        <div class="col-3">
            <div class="container">
                <div class="row row-cols-2">   
                    @foreach(var hi in products)
                    {
                    <div class="col border border-1 border-dark">
                        @hi.Name
                    </div>
                    }
                </div>
            </div>
        </div>   
    </div>
</div>


@code {

    string hiText = "";
    Product[] products = [
        new Product{Id = "1", Name = "banana"},
        new Product{Id = "1", Name = "Apple"},
        new Product{Id = "1", Name = "Orange"},
        new Product{Id = "1", Name = "Strawberry"}
        ];

}
